/*Simple CSS*/

.page-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}
.material-icons{
    font-size: 16px !important;
}
.legend-male {
  background-color: dodgerblue;
  color: white;
  padding: 5px;
}
.legend-female {
  background-color: hotpink;
  color: white;
  padding: 5px;
}
.centered {
  text-align: center;
}
.nodecontent {
  display: inline-block;
  background-color: DarkTurquoise;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.nodecontent a{
    color: white;
}


.nodecontentpink {
  
  background-color: hotpink !important;
  
}

.nodecontentblue {
  background-color: dodgerblue !important;
}

  .nodecontent:hover {
    background-color: MediumSeaGreen;
  }

  .nodecontent .collapse {
    position: absolute;
    bottom: -15px;
    left: calc(50% - 6px);
    color: #EEEEEE;
    background-color: #CCCCCC;
    border-radius: 6px;
    height: 12px;
    width: 12px;
    font-size: 12px;
    text-align: center;
  }

/*Ends Simple CSS*/

/*Org-Chart-CSS*/
/*chart nodes*/
.orgchart {
  display: inline-block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

  .orgchart, .orgchart ul {
    padding: 0;
    margin: 0;
  }

    /*align children horizontally using CSS flex*/
    .orgchart ul {
      display: flex;
    }

    /*align nodecontent and children list vertically*/
    .orgchart li {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    /*arrange the nodecontent centered above the children list*/
    .orgchart .nodecontent {
      align-self: center;
      position: relative;
      margin: 20px 5px;
    }

    .orgchart .collapsed > ul {
      display: none;
    }

    /*connections*/
    .orgchart li::before,
    .orgchart .nodecontent::after,
    .orgchart .nodecontent::before {
      box-sizing: border-box;
      content: '';
      position: absolute;
      z-index: -1;
      border: 0px solid #CCCCCC;
    }

    .orgchart li:not(:only-child)::before {
      border-top-width: 2px;
      width: 100%;
      height: 20px;
      top: 0px;
    }

    .orgchart li:first-child::before {
      width: calc(50% + 1px);
      right: 0;
      border-left-width: 2px;
      border-top-left-radius: 7px;
    }

    .orgchart li:last-child::before {
      width: calc(50% + 1px);
      border-right-width: 2px;
      border-top-right-radius: 7px;
    }

    .orgchart .nodecontent::after,
    .orgchart .nodecontent::before {
      border-left-width: 2px;
      width: 2px;
      height: 20px;
      left: calc(50% - 1px);
    }

    .orgchart .nodecontent::before {
      top: -20px;
    }

    .orgchart .nodecontent::after {
      bottom: -20px;
    }

    .orgchart li:first-child:not(:only-child) > .nodecontent::before,
    .orgchart li:last-child:not(:only-child) > .nodecontent::before {
      border-left-width: 0px;
    }

    .orgchart .leaf > .nodecontent::after,
    .orgchart .root > .nodecontent::before,
    .orgchart .collapsed > .nodecontent::after {
      display: none;
    }

/*Ends Org-Chart-CSS*/
