<div class="page-view">

    <div class="mat-elevation-z8">
        <div class="loading-overlay" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>
        <table mat-table [dataSource]="data" matSort matSortActive="date" matSortDisableClear matSortDirection="desc">

            <ng-container matColumnDef="place">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="race-column-value"> Place </th>
                <td mat-cell *matCellDef="let row"> {{row.place}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="race-column-date"> Date </th>
                <td mat-cell *matCellDef="let row"> {{row.date | date:'M/d/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="race-column-country"> Country </th>
                <td mat-cell *matCellDef="let row"> {{row.country}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Race Name </th>
                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
            </ng-container>

            <ng-container matColumnDef="distance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="race-column-distance"> Distance </th>
                <td mat-cell *matCellDef="let row"> {{row.distance}} </td>
            </ng-container>

            <ng-container matColumnDef="surface">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="race-column-surface"> Surface </th>
                <td mat-cell *matCellDef="let row"> {{row.surface}} </td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="race-column-type"> Type </th>
                <td mat-cell *matCellDef="let row"> {{row.type}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="race-column-status"> Status </th>
                <td mat-cell *matCellDef="let row"> {{row.status}} </td>
            </ng-container>

            <ng-container matColumnDef="bpr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="race-column-value"> AvgBPR </th>
                <td mat-cell *matCellDef="let row"> {{row.bpr ? row.bpr.toFixed(4) : ''}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="race-column-action"></th>
                <td class="text-right" mat-cell *matCellDef="let row">

                    <button mat-icon-button matTooltip="View Result" (click)="onView(row.raceId)">
                        <mat-icon>format_list_numbered</mat-icon>
                    </button>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
    </div>
</div>